In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel("./resources/dataset.xlsx")

In [4]:
df.head()

   col  data_1    data_2     data_3
0    1       1  0.061304   0.061304
1    2       4  0.596586   2.386345
2    3       9  0.099841   0.898573
3    4      16  0.495129   7.922064
4    5      25  0.420622  10.515546